# Environment
.env
.env.local
.env.*.local

# Test Data
database/testdata/

# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Netlify
.netlify/

# OS / editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Editor backups and lock files
*~
.#*
archive/
.env.branch
